.logo {
  position: absolute;
  top: 30px;
  left: 60px;

  img {
    width: 150px;
    height: auto;

    @media (max-height: 712px) {
      width: 80px;
    }
  }

  @media (max-height: 712px) {
    width: 70px;
    top: 20px;
    left: 30px;
  }
}

.social-media-icons {
  position: absolute;
  top: 40px;
  right: 60px;
  .website {
    mat-icon {
      color: #6d3b30 !important;
    }
  }
  a {
    padding-right: 10px;
  }

  img,
  .website {
    &:hover {
      transform: scale(1.05);
    }
  }

  @media (max-height: 712px) {
    top: 20px;
    right: 40px;

    img {
      width: 20px;
    }
  }
}
