.logo {
  position: absolute;
  top: 50px;
  left: 60px;

  img {
    width: 150px;
    height: auto;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.social-media-icons {
  position: absolute;
  top: 50px;
  right: 60px;

  a {
    padding-right: 10px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
