<div class="logo">
  <img src="assets/images/svg/logo-cbpm_login.svg" alt="CBPM Logo" />
</div>

<div class="social-media-icons">
  <a
    href="http://www.cbpm.ba.gov.br/"
    class="website"
    tabindex="0"
    target="_blank"
    [matTooltip]="'Website'"
    [matTooltipPosition]="'above'"
  >
    <mat-icon>language</mat-icon>
  </a>
  <a
    href="https://x.com/_CBPM_"
    class="x"
    tabindex="0"
    target="_blank"
    [matTooltip]="'X'"
    [matTooltipPosition]="'above'"
  >
    <img src="assets/images/svg/VectorX.svg" alt="x" />
  </a>
  <a
    href="https://www.instagram.com/cbpm.oficial/"
    class="instagram"
    tabindex="0"
    target="_blank"
    [matTooltip]="'Instagram'"
    [matTooltipPosition]="'above'"
  >
    <img src="assets/images/svg/VectorInsta.svg" alt="instagram" />
  </a>
  <a
    href="https://br.linkedin.com/company/cbpmoficial"
    class="linkedIn"
    tabindex="0"
    target="_blank"
    [matTooltip]="'Linkedin'"
    [matTooltipPosition]="'above'"
  >
    <img src="assets/images/svg/VectorLinkedIn.svg" alt="linkedIn" />
  </a>
</div>
