<div class="logo">
  <img src="assets/images/svg/logo-cbpm_login.svg" alt="CBPM Logo" />
</div>

<div class="social-media-icons">
  <a
    href="http://www.cbpm.ba.gov.br/"
    class="website"
    tabindex="0"
    target="_blank"
  >
    <mat-icon>language</mat-icon>
  </a>
  <a href="#" class="x" tabindex="0" target="_blank">
    <img src="assets/images/svg/VectorX.svg" alt="x" />
  </a>
  <a href="" class="instagram" tabindex="0" target="_blank">
    <img src="assets/images/svg/VectorInsta.svg" alt="instagram" />
  </a>
  <a
    href="https://br.linkedin.com/company/cbpmoficial"
    class="linkedIn"
    tabindex="0"
    target="_blank"
  >
    <img src="assets/images/svg/VectorLinkedIn.svg" alt="linkedIn" />
  </a>
</div>
