<div class="login-container">
  <app-header></app-header>

  <div class="login-form">
    <div class="title">
      <span>BEM VINDO A <b>LITOTECA VIRTUAL</b></span>
      <p>
        Acesse sua conta ou <b (click)="registerPage()">Cadastre-se aqui!</b>
      </p>
    </div>

    <form [formGroup]="form" (submit)="submit()">
      <div class="input-group">
        <input
          type="email"
          placeholder="Digite seu email..."
          formControlName="email"
        />
      </div>
      <div class="input-group">
        <input
          type="password"
          placeholder="*************"
          id="password"
          formControlName="senha"
        />
        <img
          src="../../../assets/images/svg/eye-slash-fill.svg"
          id="btn-password"
          class="password-icon"
          (click)="viewPassword()"
        />
      </div>
      <div class="options">
        <label>
          <input type="checkbox" />
          Lembrar de mim
        </label>
        <a href="#" class="forgot-password">Esqueceu sua senha?</a>
      </div>
      <button type="submit" class="login-button">ENTRAR</button>
    </form>
    <div><app-loading></app-loading></div>
  </div>

  <div class="copy">
    © {{ currentYear }}, Renova Soluções em Tecnologia LTDA.
  </div>
</div>
