.container-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;

  .section-img {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-image: url(../../../../assets/images/png/home-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 2rem 0;
    padding: 2rem 5rem;

    p {
      color: var(--white);
    }
  }

  h1 {
    font-weight: bold;
    color: #6d3b30;
    margin-left: 5rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }

  .section-info {
    max-width: 16rem;
    padding: 0.6rem;
    background-color: #d9d9d987;
    border-radius: 0.8rem;
    margin-left: 5rem;
    margin-bottom: 2.5rem;

    p {
      color: #6d3b30;
      text-align: center;
    }
  }

  .legend {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
  }

  .legend ul {
    list-style: none;
    padding: 0;
  }

  .legend li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #6c6c6c;
  }

  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 3px;
  }

  .purple {
    background-color: #8d82ba;
  }

  .blue {
    background-color: #554bf0;
  }

  .orange {
    background-color: #242345;
  }

  .yellow {
    background-color: #ebd13b;
  }

  .green {
    background-color: #e27325;
  }

  .pink {
    background-color: #53913a;
  }

  .darkgreen {
    background-color: #c4c32e;
  }

  .content-lupa {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .content-lupa > :nth-child(n + 3) {
    margin-left: auto;
    margin-right: 40px;
  }

  .section-images {
    display: flex;
    align-items: end;

    .lupa {
      display: flex;
      width: 400px;
    }
  }

  .map-container {
    position: fixed;
    left: 60%;
    top: 32%;
    z-index: 999;
    transform: translate(-50%, -50%);

    .region {
      transition: transform 0.3s;
      position: absolute;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }

    #region1 {
      width: 255px;
      top: 50px;
      left: 48px;
      clip-path: inset(20% 28% 20% 22%);
    }

    #region2 {
      width: 200px;
      top: 47px;
      left: 197px;
      clip-path: polygon(10% 22%, 91% 19%, 100% 31%, -3% 89%);
    }

    #region3 {
      width: 200px;
      top: 33px;
      left: 274px;
      clip-path: inset(34% 27% 33% 22%);
    }

    #region4 {
      width: 197px;
      top: 122px;
      left: 188px;
      clip-path: inset(25% 14% 25% 10%);
    }

    #region5 {
      width: 185px;
      top: 57px;
      left: 219px;
      clip-path: inset(31% 11% 31% 13%);
    }

    #region6 {
      width: 200px;
      top: 84px;
      left: 274px;
      clip-path: inset(44% 36% 43% 36%);
    }

    #region7 {
      width: 200px;
      top: 182px;
      left: 245px;
      clip-path: inset(20% 34% 20% 35%);
    }
  }

  .map-bahia {
    width: 20%;
    height: 95%;
    cursor: pointer;

    &:hover {
      transform: scale(0.9);
      opacity: 0.9;
    }
  }

  @media (max-width: 1540px) {
    h1 {
      margin-bottom: 1.5rem;
      margin-left: 3rem;
    }

    .section-info {
      margin-bottom: 0.2rem;
      margin-left: 3rem;
    }

    .legend {
      margin-left: 3rem;
    }
  }

  @media (max-width: 1045px) {
    .section-images {
      .lupa {
        display: none;
      }
    }

    .map-container {
      right: 0%;
      top: 30%;
    }
  }

  @media (max-width: 768px) {
    .section-images {
      .lupa {
        display: none;
      }
    }

    .map-container {
      position: relative;
      right: 0%;
      top: 0%;
    }
  }

  @media (max-width: 705px) {
    .content-lupa {
      flex-direction: column;
    }

    .map-container {
      position: static;
      margin: 0px 0 -5rem 0rem;
    }
  }

  @media (min-width: 1550px) {
    .map-container {
      left: 50%;
      top: 28%;

      #region1 {
        width: 385px;
        top: 21px;
        left: 39px;
        clip-path: inset(20% 28% 20% 22%);
      }

      #region2 {
        width: 400px;
        top: -61px;
        left: 246px;
        clip-path: polygon(10% 22%, 91% 19%, 100% 31%, -3% 89%);
      }

      #region3 {
        width: 362px;
        top: -63px;
        left: 420px;
        clip-path: inset(34% 27% 33% 22%);
      }

      #region4 {
        width: 362px;
        top: 106px;
        left: 246px;
        clip-path: inset(25% 14% 25% 10%);
      }

      #region5 {
        width: 369px;
        top: -41px;
        left: 293px;
        clip-path: inset(31% 11% 31% 13%);
      }

      #region6 {
        width: 443px;
        top: -19px;
        left: 370px;
        clip-path: inset(44% 36% 43% 36%);
      }

      #region7 {
        width: 367px;
        top: 216px;
        left: 348px;
        clip-path: inset(20% 34% 20% 35%);
      }
    }
  }
}
