.container-home {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .section-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 999;
    background-image: url(../../../../assets/images/png/BannerHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6rem 0 3rem 0;
    padding: 2rem 5rem;

    p {
      color: var(--white);
    }
  }
  h1 {
    font-weight: bold;
    color: var(--primary);
    margin-left: 1rem;
  }
}
