<div class="container-home">
  <app-header-home></app-header-home>
  <div class="section-img">
    <p>
      Descubra um mundo de minerais fascinantes na nossa <br />
      Litoteca Virtual. Clique agora para explorar e desvendar <br />
      as maravilhas da geologia ao seu alcance. Não perca a <br />
      chance de mergulhar nessa jornada!
    </p>
    <app-button
      text="EXPLORAR AGORA"
      (click)="goConsultaRegiao()"
      [buttonStyle]="{
        backgroundColor: 'var(--white)',
        color: 'var(--primary)',
        fontSize: '1.1rem',
      }"
    ></app-button>
  </div>
  <h1>Explore por Região</h1>
  <div class="section-info">
    <p>Clique na região escolhida para verificar os <b>projetos ativos.</b></p>
  </div>
  <div class="content-lupa">
    <div class="legend">
      <ul>
        <li>
          <img src="../../../../assets/images/png/pino 1.png" />Projeto Ativo
        </li>
        <li><span class="legend-color purple"></span> Extremo Oeste Baiano</li>
        <li>
          <span class="legend-color blue"></span> Vale São Francisco da Bahia
        </li>
        <li><span class="legend-color orange"></span> Nordeste Baiano</li>
        <li><span class="legend-color yellow"></span> Centro Norte Baiano</li>
        <li><span class="legend-color green"></span> Centro Sul Baiano</li>
        <li>
          <span class="legend-color pink"></span> Metropolitana de Salvador
        </li>
        <li><span class="legend-color darkgreen"></span> Sul Baiano</li>
      </ul>
    </div>
    <div class="section-images">
      <img
        src="../../../../assets/images/png/Lhupah.png"
        alt="Lupa Inteira"
        class="lupa"
      />
      <div class="map-container">
        <img
          src="../../../../assets/images/png/PurpleRegion.png"
          alt="Extremo Oeste Baiano"
          class="region"
          id="region1"
          (click)="goConsultaRegiao()"
        />
        <img
          src="../../../../assets/images/png/BlueRegion.png"
          alt="Vale São Francisco da Bahia"
          class="region"
          id="region2"
        />
        <img
          src="../../../../assets/images/png/DarkBlueRegion.png"
          alt="Nordeste Baiano"
          class="region"
          id="region3"
        />
        <img
          src="../../../../assets/images/png/OrangeRegion.png"
          alt="Centro Norte Baiano"
          class="region"
          id="region4"
        />
        <img
          src="../../../../assets/images/png/YellowRegion.png"
          alt="Centro Sul Baiano"
          class="region"
          id="region5"
        />
        <img
          src="../../../../assets/images/png/GreenRegion.png"
          alt="Metropolitana de Salvador"
          class="region"
          id="region6"
        />
        <img
          src="../../../../assets/images/png/LimeRegion.png"
          alt="Sul Baiano"
          class="region"
          id="region7"
        />
      </div>
    </div>
  </div>
</div>
