<app-header></app-header>
<div class="container-home">
  <div class="section-img">
    <p>
      Descubra um mundo de minerais fascinantes na nossa <br />
      Litoteca Virtual. Clique agora para explorar e desvendar <br />
      as maravilhas da geologia ao seu alcance. Não perca a <br />
      chance de mergulhar nessa jornada!
    </p>
    <app-button
      text="EXPLORAR AGORA"
      [buttonStyle]="{
        backgroundColor: 'var(--white)',
        color: 'var(--primary)',
      }"
    ></app-button>
  </div>
  <h1>Explore por Região</h1>
</div>
