<app-header></app-header>

<main class="registration-page">
  <section class="registration-form-container">
    <h1 class="form-title">Cadastre-se</h1>

    <form class="registration-form" #form="ngForm">
      <div class="form-content">
        <div class="form-row">
          <div class="form-group full-width">
            <label class="form-label">Nome Completo</label>
            <input app-primary-input type="text" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Telefone</label>
            <input
              app-primary-input
              type="text"
              placeholder="(00) 00000-0000"
              formControlName="phone"
              mask="(00) 00000-0000"
            />
          </div>

          <div class="form-group">
            <label class="form-label">Profissão/Ocupação</label>
            <input app-primary-input type="text" formControlName="occupation" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">País</label>
            <select app-primary-input formControlName="country">
              <option
                *ngFor="
                  let option of [
                    { value: 'option1', label: 'Option 1' },
                    { value: 'option2', label: 'Option 2' },
                    { value: 'option3', label: 'Option 3' },
                  ]
                "
                [value]="option.value"
              >
                {{ option.label }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label class="form-label">Estado</label>
            <select app-primary-input formControlName="state">
              <option
                *ngFor="
                  let option of [
                    { value: 'option1', label: 'Option 1' },
                    { value: 'option2', label: 'Option 2' },
                    { value: 'option3', label: 'Option 3' },
                  ]
                "
                [value]="option.value"
              >
                {{ option.label }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label class="form-label">Cidade</label>
            <select app-primary-input formControlName="city">
              <option
                *ngFor="
                  let option of [
                    { value: 'option1', label: 'Option 1' },
                    { value: 'option2', label: 'Option 2' },
                    { value: 'option3', label: 'Option 3' },
                  ]
                "
                [value]="option.value"
              >
                {{ option.label }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Email</label>
            <input app-primary-input type="email" formControlName="email" />
          </div>

          <div class="form-group">
            <label class="form-label">Confirme seu email</label>
            <input
              app-primary-input
              type="email"
              formControlName="confirmEmail"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Senha</label>
            <input
              app-primary-input
              type="password"
              formControlName="password"
            />
          </div>

          <div class="form-group">
            <label class="form-label">Confirme sua senha</label>
            <input
              app-primary-input
              type="password"
              formControlName="confirmPassword"
            />
          </div>
        </div>

        <div class="form-actions">
          <a href="#" class="back-to-login">
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/d01365446799f5ae7ba400a67cd8def220013c025ac53b0476e2744b77b8f41e?placeholderIfAbsent=true&apiKey=a1c783c1fea844e8a9d4918a3ccfb90a"
              alt="Voltar para Login"
              class="back-icon"
            />
            Voltar para LOGIN
          </a>
          <button
            type="submit"
            class="submit-button"
            (click)="navigateConfirmRegister()"
          >
            CRIAR CONTA
          </button>
        </div>
      </div>
    </form>
  </section>
</main>
