<!-- <app-drop-down
  textHeader="Nome do Projeto"
  [styleDropDown]="{ marginTop: '1rem', width: '40%', marginLeft: '2rem' }"
  [options]="projects"
></app-drop-down> -->

<!-- <div class="btn-imprimir">
  <app-button
    text="IMPRIMIR"
    [buttonStyle]="{
      padding: '1rem 2.4rem',
    }"
    customClass="hover-transparent"
  ></app-button>
</div> -->

<div class="main-container">
  <section class="box-ionfo-section">
    <div class="box-info">
      <div class="info-title">
        <h3>Informações da Caixa</h3>
      </div>
      <form>
        <div class="form-row">
          <label for="projeto">PROJETO:</label>
          <input
            readonly
            type="text"
            id="projeto"
            [(ngModel)]="formData.nome"
            name="nome"
          />
        </div>
        <div class="form-row">
          <label for="municipio">MUNICÍPIO:</label>
          <input
            readonly
            type="text"
            id="municipio"
            [(ngModel)]="formData.municipio"
            name="municipio"
          />
        </div>
        <div class="form-row">
          <label for="localidade">LOCALIDADE:</label>
          <input
            readonly
            type="text"
            id="localidade"
            [(ngModel)]="formData.localidade"
            name="localidade"
          />
        </div>
        <div class="form-row">
          <label for="furo">Nº DO FURO:</label>
          <input
            readonly
            type="text"
            id="furo"
            [(ngModel)]="formData.furo"
            name="furo"
          />
        </div>
        <div class="form-row">
          <label for="pavilhao">PAVILHÃO:</label>
          <input
            readonly
            type="text"
            id="pavilhao"
            [(ngModel)]="formData.pavilhao"
            name="pavilhao"
          />
        </div>
        <div class="form-row">
          <label for="caixa">Caixa Atual:</label>
          <div class="number-input">
            <button class="decrease" (click)="navigateBox(-1)">-</button>
            <input
              type="text"
              id="caixa"
              [value]="caixasMapeadas[boxNames[currentBoxIndex]]?.name"
              readonly
            />
            <button class="increase" (click)="navigateBox(1)">+</button>
          </div>
        </div>
        <div class="form-row">
          <label for="profundidade">PROFUNDIDADE (m):</label>
          <div class="depth">
            <input
              readonly
              type="text"
              id="profundidadeInicial"
              [(ngModel)]="formData.profundidadeInicial"
              name="profundidadeInicial"
            />
            <input
              readonly
              type="text"
              id="profundidadeFinal"
              [(ngModel)]="formData.profundidadeFinal"
              name="profundidadeFinal"
            />
          </div>
        </div>
        <div class="form-row">
          <label for="alvo">ALVO:</label>
          <input
            readonly
            type="text"
            id="alvo"
            [(ngModel)]="formData.alvo"
            name="alvo"
          />
        </div>
        <div class="form-row">
          <label for="estante">ESTANTE:</label>
          <input
            readonly
            type="text"
            id="estante"
            [(ngModel)]="formData.estante"
            name="estante"
          />
        </div>
        <div class="form-row">
          <label for="prateleira">PRATELEIRA:</label>
          <input
            readonly
            type="text"
            id="prateleira"
            [(ngModel)]="formData.prateleira"
            name="prateleira"
          />
        </div>
      </form>
    </div>

    <div class="gallery">
      <div class="info-title">
        <h3>Galeria</h3>
      </div>
      <div class="gallery-images">
        <img
          *ngFor="let imagem of combineImagens"
          [src]="imagem.url"
          alt="Galeria de imagens"
        />
      </div>
    </div>
  </section>

  <div class="section-two">
    <div class="box">
      <div class="info-title">
        <h3>Caixa Seca</h3>
      </div>
      <div *ngFor="let imagem of caixasSecasImages" class="section">
        <h4>SEÇÃO {{ imagem.secao }}</h4>
        <img [src]="imagem.url" />
      </div>
    </div>

    <div class="box">
      <div class="info-title">
        <h3>Caixa Molhada</h3>
      </div>
      <div *ngFor="let imagem of caixasMolhadasImages" class="section">
        <h4>SEÇÃO {{ imagem.secao }}</h4>
        <img [src]="imagem.url" />
      </div>
    </div>
  </div>

  <div class="back-to-login" (click)="back()">
    <i class="material-icons">arrow_back</i>
    <a> Voltar para Consulta de Projetos </a>
  </div>
</div>
