.header {
  text-align: center;
  background-color: var(--primary);
  color: var(--white);
  padding: 10px;
  height: 25px;
  width: 400px;

  margin-top: 20px;
}

.btn-imprimir {
  top: 20px;
  right: 20px;
  position: absolute;
}

/* informacoes-caixa.component.css */
.informacoes-caixa {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid var(--gray-dark);
}

.informacoes-caixa form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.informacoes-caixa label {
  font-weight: bold;
}

.caixa {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.secao {
  display: flex;
  align-items: center;
  gap: 10px;
}

.secao img {
  width: 100px;
  height: auto;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-left: 40px;

  img {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }
}
