<div class="header">
  <div class="header-title">
    <h3>
      {{ projeto?.nome }} <b> > {{ formData?.alvo }} | {{ furo?.nome }} </b>
    </h3>
  </div>

  <div class="btn-print">
    <img src="../../../../assets/images/svg/print-vector.svg" />
  </div>

  <div class="btn-back">
    <app-button
      (click)="voltar()"
      text="VOLTAR"
      icon="arrow_back"
      [buttonStyle]="{
        padding: '1rem 2.4rem',
        alignItems: 'center',
        justifyContent: 'center',
        display: 'flex',
        gap: '10px',
      }"
      customClass="hover-transparent"
    ></app-button>
  </div>
</div>

<div class="main-container">
  <section class="box-ionfo-section">
    <div class="box-info">
      <div class="info-title">
        <h3>Informações da Caixa</h3>
      </div>
      <form>
        <div class="form-row">
          <label for="projeto">PROJETO:</label>
          <input
            readonly
            type="text"
            id="projeto"
            [(ngModel)]="formData.nome"
            name="nome"
          />
        </div>
        <div class="form-row">
          <label for="municipio">MUNICÍPIO:</label>
          <input
            readonly
            type="text"
            id="municipio"
            [(ngModel)]="formData.municipio"
            name="municipio"
          />
        </div>
        <div class="form-row">
          <label for="localidade">LOCALIDADE:</label>
          <input
            readonly
            type="text"
            id="localidade"
            [(ngModel)]="formData.localidade"
            name="localidade"
          />
        </div>
        <div class="form-row">
          <label for="furo">NOME DO FURO:</label>
          <input
            readonly
            type="text"
            id="furo"
            [(ngModel)]="formData.furo"
            name="furo"
          />
        </div>
        <div class="form-row">
          <label for="pavilhao">PAVILHÃO:</label>
          <input
            readonly
            type="text"
            id="pavilhao"
            [(ngModel)]="formData.pavilhao"
            name="pavilhao"
          />
        </div>
        <div class="form-row">
          <label for="caixa">Caixa Atual:</label>
          <div class="number-input">
            <button class="decrease" (click)="navegacaoPorCaixa(-1)">-</button>
            <input
              type="text"
              id="caixa"
              [value]="
                nomeCaixas?.length > 0 &&
                caixasMapeadas[nomeCaixas[currentBoxIndex]]?.name
              "
              readonly
            />
            <button class="increase" (click)="navegacaoPorCaixa(1)">+</button>
          </div>
        </div>
        <div class="form-row">
          <label for="profundidade">PROFUNDIDADE (m):</label>
          <div class="depth">
            <span> {{ formData.profundidadeInicial }}m </span>
            <span> {{ formData.profundidadeFinal }}m </span>
          </div>
        </div>
        <div class="form-row">
          <label for="alvo">ALVO:</label>
          <input
            readonly
            type="text"
            id="alvo"
            [(ngModel)]="formData.alvo"
            name="alvo"
          />
        </div>
        <div class="form-row">
          <label for="estante">ESTANTE:</label>
          <div class="depth">
            <span>
              {{ formData.estante }}
            </span>
          </div>

          <label for="estante">PRATELEIRA:</label>
          <div class="depth">
            <span>
              {{ formData.prateleira }}
            </span>
          </div>
        </div>
      </form>
    </div>

    <!-- <div class="gallery">
      <div class="info-title">
        <h3>Galeria</h3>
      </div>
      <div class="gallery-images">
        @for (imagem of combineImagens; track $index) {
          <img [src]="imagem.url" alt="Galeria de imagens" />
        }
      </div>
    </div> -->
    <app-gallery-card [combineImagens]="combineImagens"></app-gallery-card>
  </section>

  <div class="section-two">
    <!-- <div class="box">
      <div class="info-title">
        <h3>Caixa Seca</h3>
      </div>
      @for (imagem of caixasSecasImages; track $index) {
        <div class="section">
          <h4>SEÇÃO {{ imagem.secao }}</h4>
          <img [src]="imagem.url" (click)="navegarParSecao(furoId)" />
        </div>
      }
    </div>

    <div class="box">
      <div class="info-title">
        <h3>Caixa Molhada</h3>
      </div>
      @for (imagem of caixasMolhadasImages; track $index) {
        <div class="section">
          <h4>SEÇÃO {{ imagem.secao }}</h4>
          <img [src]="imagem.url" (click)="navegarParSecao(furoId)" />
        </div>
      }
    </div> -->

    <app-sections-card
      [caixasMolhadasImages]="caixasMolhadasImages"
      [caixasSecasImages]="caixasSecasImages"
      [furoId]="furoId"
    ></app-sections-card>
  </div>
</div>
