.project-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin: 20px 30px;
  font-family: Arial, sans-serif;
}

.municipio-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 450px;
  height: 15px;
  background-color: #4e0101;
  color: white;
  padding: 10px;
  border-radius: 20px 20px 0 0;

  span {
    font-family: "Poppins";
    font-size: 16px;
    margin-left: 8px;
  }

  .custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: #4e0101;
    color: white;
    border: none;

    option {
      border: none;
      background-color: #4e0101;
      color: white;
      font-family: "Poppins";
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.pavilhao {
  margin-top: 10px;
}

.pavilhao-numbers span {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ccc;
  margin-right: 5px;
  cursor: pointer;
}

.pavilhao-numbers span.active {
  background-color: #800000;
  color: white;
}

.projects {
  margin-top: 10px;
}

.projects input {
  width: 70%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  border-collapse: collapse;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 0 10px 0 0;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
  color: #4e0101;
  padding: 10px;
  margin-top: 15px;
  .search-filter {
    display: flex;
    align-items: start;
    gap: 78px;
    .filter-option {
      &:last-child {
        text-align: center;
        align-self: flex-end;
      }
      .label {
        font-size: 36px;
        text-align: left;
        text-transform: uppercase;
      }
      .btn-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          width: 40px;
          height: 40px;
          background-color: #cccccc;
          color: #f2f2f2;
          border: 0 none;
          font-size: 26px;
          border-radius: 14px;
          font-weight: 700;
          cursor: pointer;
          &.active {
            background-color: #4e0101;
          }
        }
      }
      .input-field {
        position: relative;
        display: flex;
        align-items: center;
        mat-icon {
          position: absolute;
          right: 5%;
        }
      }
      select,
      input {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        background-color: white;
        border: 0 none;
        padding: 0;
        &:disabled {
          background-color: #cccccc;
        }
      }
    }
  }
}

.table-header div {
  width: 100%;
  padding: 10px;
}

.table-header .protect-filter {
  display: flex;
  flex-direction: column;
  align-items: center;

  .project-icon {
    font-size: 14px !important;
  }

  input {
    width: 160px;
    height: 10px;
    padding: 8px;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    border-radius: 8px;

    //adicionando ícone de pesquisa
    background-image: url("../../../../assets/images/svg/seta-direita.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }
}

.table-body {
  display: flex;
  flex-direction: row;
  padding: 8px;
  background-color: white;
  border-bottom: 5px solid #f2f2f2;
}

.table-content {
  height: 450px;
  overflow-y: auto;
}

.table-body div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.table-body div:last-child {
  border-right: none;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly !important;
  align-items: center;
}

.actions button {
  width: 35px;
  height: 35px;
  padding: 3px;
  background-color: #800000;
  font-weight: 900;
  color: white;
}
