<div class="project-table">
  <div class="municipio-dropdown">
    <span>PROJETOS ATIVOS</span>
  </div>
  <div class="table-container">
    <div class="table-header">
      <div class="search-filter">
        <div class="filter-option">
          <label for="" class="label">Pavilhao</label>
          <div class="btn-options">
            @for (pavilhao of pavilhoes; track $index) {
              <button
                (click)="selectPavilhao(pavilhao)"
                class="pavilhao"
                [class.active]="selectedPavilhao === pavilhao"
              >
                {{ pavilhao }}
              </button>
            }
          </div>
        </div>
        <div class="filter-option filter-input">
          <label for="" class="label">Projetos</label>
          <div class="input-field">
            <input
              type="text"
              placeholder="Selecione ou digite o nome do PROJETO"
              aria-label="Number"
              matInput
              [formControl]="projetoControl"
              [matAutocomplete]="autoProject"
            />
            <mat-icon>expand_more</mat-icon>
          </div>
          <mat-autocomplete
            #autoProject="matAutocomplete"
            [displayWith]="mostrarNomeProjeto"
            (optionSelected)="onProjectSelected()"
          >
            @for (project of filtroProjetos | async; track $index) {
              <mat-option [value]="project">{{ project.nome }}</mat-option>
            }
          </mat-autocomplete>
        </div>
        <div class="filter-option filter-input">
          <label for="" class="label">Alvos</label>
          <div class="input-field">
            <input
              type="text"
              placeholder="Selecione ou digite o nome do Alvo"
              aria-label="Number"
              matInput
              [formControl]="alvoControl"
              [matAutocomplete]="autoAlvos"
            />
            <mat-icon>expand_more</mat-icon>
          </div>
          <mat-autocomplete
            #autoAlvos="matAutocomplete"
            [displayWith]="mostrarNomeAlvo"
            (optionSelected)="onAlvoSelected()"
          >
            @for (alvo of filtroAlvos | async; track $index) {
              <mat-option [value]="alvo">{{ alvo.nome }}</mat-option>
            }
          </mat-autocomplete>
        </div>
        <div class="filter-option filter-input">
          <label for="projeto" class="label">Furo</label>
          <div class="input-field">
            <input
              type="text"
              placeholder="Selecione ou digite o nome do Alvo"
              aria-label="Alvo"
              matInput
              [formControl]="furoControl"
              [matAutocomplete]="autoFuro"
            />
            <mat-icon>expand_more</mat-icon>
          </div>
          <mat-autocomplete
            #autoFuro="matAutocomplete"
            [displayWith]="mostrarNomeFuro"
            (optionSelected)="onFuroSelected()"
          >
            @for (furo of filtroFuros | async; track $index) {
              <mat-option [value]="furo">{{ furo.nome }}</mat-option>
            }
          </mat-autocomplete>
        </div>
        <div class="filter-option actions">
          <label for="projeto" class="label">ações</label>
        </div>
      </div>
    </div>
    <div class="table-content">
      @for (furo of furos; track $index) {
        <div class="table-body">
          <div class="pavilhao">1</div>
          <div>{{ project.nome }}</div>
          <div>{{ alvo.nome }}</div>
          <div>{{ furo.nome }}</div>
          <div class="actions">
            <button mat-icon-button class="action-btn document">
              <mat-icon>description</mat-icon>
            </button>
            <button
              mat-icon-button
              class="action-btn image"
              (click)="goToGalery(project, alvo, furo)"
            >
              <mat-icon>image</mat-icon>
            </button>
            <button
              mat-icon-button
              class="action-btn location"
              (click)="
                goToMaps(
                  'https://google.com/maps/place/Salvador+-+BA/@-12.9115727,-38.5526365,12z/data=!4m6!3m5!1s0x716037ca23ca5b3:0x1b9fc7912c226698!8m2!3d-12.9777334!4d-38.501648!16zL20vMDl3d2xq?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoJLDEwMjExMjM0SAFQAw%3D%3D'
                )
              "
            >
              <mat-icon>location_on</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
<app-pagination
  [pageSize]="pageSize"
  [length]="totalPages"
  (pageChange)="onPageChange($event)"
></app-pagination>
