<div class="project-table">
  <div class="municipio-dropdown">
    <span>MUNICÍPIO: </span>
    <select class="custom-select">
      <option>SALVADOR</option>
    </select>
  </div>
  <div class="table-container">
    <div class="table-header">
      <div class="protect-filter">
        <label><mat-icon class="project-icon">adjust</mat-icon>PROJETOS</label>
        <input
          type="text"
          placeholder="Riacho Seco"
          [(ngModel)]="searchTerm"
          (input)="filtrarProjetos($event)"
        />
      </div>
      <div>ALVO</div>
      <div>FURO</div>
      <div>AÇÕES</div>
    </div>
    <div class="table-content">
      <div class="table-body" *ngFor="let project of projects">
        <div>{{ project.nome }}</div>
        <div>{{ project.alvos }} ALVO 1</div>
        <div>{{ project.furo }} FURO 1</div>
        <div class="actions">
          <button mat-icon-button class="action-btn document">
            <mat-icon>description</mat-icon>
          </button>
          <button
            mat-icon-button
            class="action-btn image"
            (click)="goToGalery(project)"
          >
            <mat-icon>image</mat-icon>
          </button>
          <button
            mat-icon-button
            class="action-btn location"
            (click)="searchMap(project.municipio)"
          >
            <mat-icon>location_on</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
