<div class="section-images">
  <img
    ngSrc="../../../../../../assets/images/png/Lhupah.png"
    priority="high"
    alt="Lupa Inteira"
    class="lupa"
    width="400"
    height="300"
  />
  <div class="map-container">
    <img
      ngSrc="{{ regioes.extremo_oeste_baiano.img }}"
      alt="{{ regioes.extremo_oeste_baiano.nome }}"
      class="region"
      id="region1"
      width="{{ regioes.extremo_oeste_baiano.with }}"
      height="{{ regioes.extremo_oeste_baiano.height }}"
    />
    <img
      ngSrc="{{ regioes.vale_sao_francisco_da_bahia.img }}"
      alt="{{ regioes.vale_sao_francisco_da_bahia.nome }}"
      class="region"
      id="region2"
      width="{{ regioes.vale_sao_francisco_da_bahia.with }}"
      height="{{ regioes.vale_sao_francisco_da_bahia.height }}"
    />
    <img
      ngSrc="{{ regioes.nordeste_baiano.img }}"
      alt="{{ regioes.nordeste_baiano.nome }}"
      class="region"
      id="region3"
      width="{{ regioes.nordeste_baiano.with }}"
      height="{{ regioes.nordeste_baiano.height }}"
    />
    <img
      ngSrc="{{ regioes.centro_sul_baiano.img }}"
      alt="{{ regioes.centro_sul_baiano.nome }}"
      class="region"
      id="region4"
      width="{{ regioes.centro_sul_baiano.with }}"
      height="{{ regioes.centro_sul_baiano.height }}"
    />
    <img
      ngSrc="{{ regioes.centro_norte_baiano.img }}"
      alt="{{ regioes.centro_norte_baiano.nome }}"
      class="region"
      id="region5"
      width="{{ regioes.centro_norte_baiano.with }}"
      height="{{ regioes.centro_norte_baiano.height }}"
    />
    <img
      ngSrc="{{ regioes.metropolitana_de_salvador.img }}"
      alt="{{ regioes.metropolitana_de_salvador.nome }}"
      class="region"
      id="region6"
      width="{{ regioes.metropolitana_de_salvador.with }}"
      height="{{ regioes.metropolitana_de_salvador.height }}"
    />
    <img
      ngSrc="{{ regioes.sul_baiano.img }}"
      alt="{{ regioes.sul_baiano.nome }}"
      class="region"
      id="region7"
      width="{{ regioes.sul_baiano.with }}"
      height="{{ regioes.sul_baiano.height }}"
    />
  </div>
</div>
