<section class="secao-warp">
  <div class="secao">
    <div class="secao-left">
      <div class="secao-titulo">INFORMAÇÕES DA CAIXA</div>
      <div class="titulo-projeto">
        Projeto {{ furoInfo.alvo.nome }} > {{ furoInfo.alvo.nome }} |
        {{ furoInfo.nome }}
      </div>
      <div class="secao-meio">
        <div class="secao-meio-left">
          <div class="secao-meio-left-caixa">
            <div class="secao-meio-left-caixa-menos" (click)="caixaAnterior()">
              -
            </div>
            <div class="secao-meio-left-caixa-numero">
              {{ caixaAtual.nome }}
            </div>
            <div class="secao-meio-left-caixa-mais" (click)="proximaCaixa()">
              +
            </div>
          </div>
          <div class="secao-meio-left-tipo">
            <div
              class="secao-meio-left-tipo-seca"
              [ngClass]="{ 'caixa-ativo': caixaAtual.categoriaId === 1 }"
              (click)="setCaixaMolhadaOuSeca(1)"
            >
              SECA
            </div>
            <div
              class="secao-meio-left-tipo-molhada"
              [ngClass]="{ 'caixa-ativo': caixaAtual.categoriaId === 2 }"
              (click)="setCaixaMolhadaOuSeca(2)"
            >
              MOLHADA
            </div>
          </div>
          <div class="secao-meio-left-profundidade">
            <span class="secao-meio-left-profundidade-titulo"
              >PROFUNDIDADE DA CAIXA</span
            >
            <div class="secao-meio-left-profundidade-descricao">
              <span>De: {{ caixaAtual.profundidadeInicial }}m</span>
              <span>Até: {{ caixaAtual.profundidadeFinal }}m</span>
            </div>
          </div>
          <div class="secao-meio-left-divisao">
            <div class="secao-meio-left-divisao-estante">
              <span>ESTANTE</span>
              <span>{{ caixaAtual.estante }}</span>
            </div>
            <div class="secao-meio-left-divisao-prateleira">
              <span>PRATELEIRA</span>
              <span>{{ caixaAtual.prateleira }}</span>
            </div>
          </div>
          <div class="secao-meio-left-separadores">
            <div class="secao-meio-left-separadores-secao">
              SEÇÃO {{ secaoAtual.secao }}
            </div>
            <div class="secao-meio-left-separadores-lista">
              <span>SEPARADOR</span>
              <ul>
                <li
                  [ngClass]="{ 'separador-ativo': separadorAtual === 1 }"
                  (click)="setSeparator(1)"
                >
                  A
                </li>
                <li
                  [ngClass]="{ 'separador-ativo': separadorAtual === 2 }"
                  (click)="setSeparator(2)"
                >
                  B
                </li>
                <li
                  [ngClass]="{ 'separador-ativo': separadorAtual === 3 }"
                  (click)="setSeparator(3)"
                >
                  C
                </li>
                <li
                  [ngClass]="{ 'separador-ativo': separadorAtual === 4 }"
                  (click)="setSeparator(4)"
                >
                  D
                </li>
                <li
                  [ngClass]="{ 'separador-ativo': separadorAtual === 5 }"
                  (click)="setSeparator(5)"
                >
                  E
                </li>
              </ul>
            </div>
          </div>
          <div class="secao-meio-left-tamanho-lupa">
            <span class="secao-meio-left-tamanho-lupa-titulo"
              >TAMANHO DA LUPA</span
            >
            <div class="secao-meio-left-tamanho-lupa-buttons">
              <div
                class="secao-meio-left-tamanho-lupa-buttons-tamanho"
                (click)="diminuirLupa()"
              >
                -
              </div>
              <div class="secao-meio-left-tamanho-lupa-buttons-tamanho-txt">
                {{ lupaSize }}x
              </div>
              <div
                class="secao-meio-left-tamanho-lupa-buttons-tamanho"
                (click)="aumentarLupa()"
              >
                +
              </div>
            </div>
            <div>
              <div
                class="secao-meio-left-tamanho-lupa-buttons-tamanho-reset"
                (click)="resetarLupa()"
              >
                Tamanho Inicial
              </div>
            </div>
          </div>
        </div>
        <div class="secao-meio-right">
          @for (captura of caixa.capturas; track captura.id) {
            <div
              class="secao-meio-right-imagem"
              (click)="setSecaoAtual(captura)"
            >
              <img
                [src]="captura.miniatureReference"
                width="97"
                height="62"
                loading="lazy"
              />
              @if (captura.id === secaoAtual.id) {
                <span class="you-here"
                  ><mat-icon class="mat-18">chevron_left</mat-icon> Você está
                  aqui</span
                >
              } @else {
                <span class="you-here"
                  ><mat-icon class="mat-18">chevron_left</mat-icon> SEÇÃO
                  {{ captura.secao }}</span
                >
              }
            </div>
          }
        </div>
      </div>
      <div class="secao-left-info">
        <div>
          <img
            src="../../../../assets/images/png/LogoSemFundo_PessimaQualidade.png"
            width="143"
            height="44"
          />
        </div>
        <div class="secao-left-info-texto">
          <div class="secao-left-info-texto-titulo">
            <mat-icon class="mat-18">warning</mat-icon>
            <span> Passo a passo</span>
          </div>
          <ul>
            <li>1. Passe o mouse para ativar a lupa.</li>
            <li>
              2. O início (0m) se dá de baixo pra cima, da esquerda para a
              direita.
            </li>
            <li>3. A lupa indica o separador que o mineral está.</li>
            <li>4. Clique nas setas para mudar de seção/imagem.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="secao-right">
      <div class="secao-right-bar">
        <div class="secao-right-bar-info">SEÇÃO {{ secaoAtual.secao - 1 }}</div>
        <div class="secao-right-bar-button" (click)="capturaAnterior()">
          <mat-icon>arrow_upward</mat-icon>
        </div>
        <div class="secao-right-bar-button" (click)="proximaCaptura()">
          <mat-icon>arrow_downward</mat-icon>
        </div>
        <div class="secao-right-bar-info">SEÇÃO {{ secaoAtual.secao + 1 }}</div>
        <div class="secao-right-bar-imprimir" (click)="downloadImage()">
          Exportar <mat-icon>print</mat-icon>
        </div>
      </div>
      <div class="secao-right-content">
        <div class="secao-right-content-separadores">
          <div
            class="secao-right-content-separadores-separador"
            (click)="setSeparator(1)"
          >
            <span [ngClass]="{ 'separador-ativo-image': separadorAtual === 1 }">
              <mat-icon>straight</mat-icon> A
            </span>
          </div>
          <div
            class="secao-right-content-separadores-separador"
            (click)="setSeparator(2)"
          >
            <span [ngClass]="{ 'separador-ativo-image': separadorAtual === 2 }">
              <mat-icon>straight</mat-icon> B
            </span>
          </div>
          <div
            class="secao-right-content-separadores-separador"
            (click)="setSeparator(3)"
          >
            <span [ngClass]="{ 'separador-ativo-image': separadorAtual === 3 }"
              ><mat-icon>straight</mat-icon> C</span
            >
          </div>
          <div
            class="secao-right-content-separadores-separador"
            (click)="setSeparator(4)"
          >
            <span [ngClass]="{ 'separador-ativo-image': separadorAtual === 4 }"
              ><mat-icon>straight</mat-icon> D</span
            >
          </div>
          <div
            class="secao-right-content-separadores-separador"
            (click)="setSeparator(5)"
          >
            <span [ngClass]="{ 'separador-ativo-image': separadorAtual === 5 }"
              ><mat-icon>straight</mat-icon> E</span
            >
          </div>
        </div>
        <div class="secao-right-content-imagem">
          <app-lupa
            [lupaSize]="lupaSize"
            [imgSrc]="
              secaoAtual.imageReference
                ? secaoAtual.imageReference
                : '../../../../assets/images/png/placeholder.png'
            "
            (mouseOverSeparator)="setSeparator($event)"
          >
          </app-lupa>
          <!-- <img #magnifiedImg src="../../../../assets/images/png/testelinha.png" /> -->
        </div>
        <div class="secao-right-content-separadores">
          <div
            class="secao-right-content-separadores-separador"
            (click)="setSeparator(1)"
          >
            <span [ngClass]="{ 'separador-ativo-image': separadorAtual === 1 }">
              <mat-icon>straight</mat-icon> A
            </span>
          </div>
          <div
            class="secao-right-content-separadores-separador"
            (click)="setSeparator(2)"
          >
            <span [ngClass]="{ 'separador-ativo-image': separadorAtual === 2 }">
              <mat-icon>straight</mat-icon> B
            </span>
          </div>
          <div
            class="secao-right-content-separadores-separador"
            (click)="setSeparator(3)"
          >
            <span [ngClass]="{ 'separador-ativo-image': separadorAtual === 3 }"
              ><mat-icon>straight</mat-icon> C</span
            >
          </div>
          <div
            class="secao-right-content-separadores-separador"
            (click)="setSeparator(4)"
          >
            <span [ngClass]="{ 'separador-ativo-image': separadorAtual === 4 }"
              ><mat-icon>straight</mat-icon> D</span
            >
          </div>
          <div
            class="secao-right-content-separadores-separador"
            (click)="setSeparator(5)"
          >
            <span [ngClass]="{ 'separador-ativo-image': separadorAtual === 5 }"
              ><mat-icon>straight</mat-icon> E</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="secao-warp-footer">
    <div class="back-to-gallery" (click)="goConsultaProjeto()">
      <i class="material-icons">arrow_back</i>
      <a> Voltar para GALERIA</a>
    </div>
  </div>
</section>
