<section class="secao-warp">
  <div class="secao">
    <div class="secao-left">
      <div class="secao-titulo">INFORMAÇÕES DA CAIXA</div>
      <div class="titulo-projeto">Projeto RIACHO SECO > RIACHO SECO | LP22</div>
      <div class="secao-meio">
        <div class="secao-meio-left">
          <div class="secao-meio-left-caixa">
            <div class="secao-meio-left-caixa-menos">-</div>
            <div class="secao-meio-left-caixa-numero">Caixa 01</div>
            <div class="secao-meio-left-caixa-mais">+</div>
          </div>
          <div class="secao-meio-left-tipo">
            <div class="secao-meio-left-tipo-seca">SECA</div>
            <div class="secao-meio-left-tipo-molhada">MOLHADA</div>
          </div>
          <div class="secao-meio-left-profundidade">
            <span class="secao-meio-left-profundidade-titulo"
              >PROFUNDIDADE DA CAIXA</span
            >
            <div class="secao-meio-left-profundidade-descricao">
              <span>De: 0m</span>
              <span>Até: 3,10m</span>
            </div>
          </div>
          <div class="secao-meio-left-divisao">
            <div class="secao-meio-left-divisao-estante">
              <span>ESTANTES</span>
              <span>2</span>
            </div>
            <div class="secao-meio-left-divisao-prateleira">
              <span>PRATELEIRAS</span>
              <span>0-15</span>
            </div>
          </div>
          <div class="secao-meio-left-separadores">
            <div class="secao-meio-left-separadores-secao">SEÇÃO 07</div>
            <div class="secao-meio-left-separadores-lista">
              <span>SEPARADOR</span>
              <ul>
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="secao-meio-right">
          <div class="secao-meio-right-imagem">
            <img
              src="../../../../assets/images/png/foto-caixa.png"
              width="97"
              height="62"
            />
            <span class="you-here"
              ><mat-icon class="mat-18">chevron_left</mat-icon> Você está
              aqui</span
            >
          </div>
          <div class="secao-meio-right-imagem">
            <img
              src="../../../../assets/images/png/foto-caixa.png"
              width="97"
              height="62"
            />
            <span class="you-here"
              ><mat-icon class="mat-18">chevron_left</mat-icon> Você está
              aqui</span
            >
          </div>
          <div class="secao-meio-right-imagem">
            <img
              src="../../../../assets/images/png/foto-caixa.png"
              width="97"
              height="62"
            />
            <span class="you-here"
              ><mat-icon class="mat-18">chevron_left</mat-icon> Você está
              aqui</span
            >
          </div>
          <div class="secao-meio-right-imagem">
            <img
              src="../../../../assets/images/png/foto-caixa.png"
              width="97"
              height="62"
            />
            <span class="you-here"
              ><mat-icon class="mat-18">chevron_left</mat-icon> Você está
              aqui</span
            >
          </div>
          <div class="secao-meio-right-imagem">
            <img
              src="../../../../assets/images/png/foto-caixa.png"
              width="97"
              height="62"
            />
            <span class="you-here"
              ><mat-icon class="mat-18">chevron_left</mat-icon> Você está
              aqui</span
            >
          </div>
          <div class="secao-meio-right-imagem">
            <img
              src="../../../../assets/images/png/foto-caixa.png"
              width="97"
              height="62"
            />
            <span class="you-here"
              ><mat-icon class="mat-18">chevron_left</mat-icon> Você está
              aqui</span
            >
          </div>
          <div class="secao-meio-right-imagem">
            <img
              src="../../../../assets/images/png/foto-caixa.png"
              width="97"
              height="62"
            />
            <span class="you-here"
              ><mat-icon class="mat-18">chevron_left</mat-icon> Você está
              aqui</span
            >
          </div>
        </div>
      </div>
      <div class="secao-left-info">
        <div>
          <img
            src="../../../../assets/images/png/LogoSemFundo_PessimaQualidade.png"
            width="143"
            height="44"
          />
        </div>
        <div class="secao-left-info-texto">
          <div class="secao-left-info-texto-titulo">
            <mat-icon class="mat-18">warning</mat-icon>
            <span> Passo a passo</span>
          </div>
          <ul>
            <li>1. Passe o mouse para ativar a lupa.</li>
            <li>
              2. O início (0m) se dá de baixo pra cima, da esquerda para a
              direita.
            </li>
            <li>3. A lupa indica o separador que o mineral está.</li>
            <li>4. Clique nas setas para mudar de seção/imagem.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="secao-right">
      <div class="secao-right-bar">
        <div>SEÇÃO 07</div>
        <div>
          <mat-icon>arrow_upward</mat-icon>
        </div>
        <div>
          <mat-icon>arrow_downward</mat-icon>
        </div>
        <div>SEÇÃO 06</div>
      </div>
      <div class="secao-right-content">
        <div class="secao-right-content-separadores">
          <div class="secao-right-content-separadores-txt">
            SEPARADOR <br />
            DA CAIXA
          </div>
          <div><mat-icon>straight</mat-icon> A</div>
          <div><mat-icon>straight</mat-icon> B</div>
          <div><mat-icon>straight</mat-icon> C</div>
          <div><mat-icon>straight</mat-icon> D</div>
          <div><mat-icon>straight</mat-icon> E</div>
          <div class="secao-right-content-separadores-txt">
            SEPARADOR <br />
            DA CAIXA
          </div>
        </div>
        <div class="secao-right-content-imagem">
          <img src="../../../../assets/images/png/testelinha.png" />
        </div>
        <div class="secao-right-content-separadores">
          <div class="secao-right-content-separadores-txt">
            SEPARADOR <br />
            DA CAIXA
          </div>
          <div><mat-icon>straight</mat-icon> A</div>
          <div><mat-icon>straight</mat-icon> B</div>
          <div><mat-icon>straight</mat-icon> C</div>
          <div><mat-icon>straight</mat-icon> D</div>
          <div><mat-icon>straight</mat-icon> E</div>
          <div class="secao-right-content-separadores-txt">
            SEPARADOR <br />
            DA CAIXA
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="secao-warp-footer">
    <div class="back-to-gallery">
      <i class="material-icons">arrow_back</i>
      <a> Voltar </a>
    </div>
    <div class="secao-warp-footer-imprimir">
      Imprimir <mat-icon>print</mat-icon>
    </div>
  </div>
</section>
